test_pvfit_pvdiagram.pdf
test_pvfit_rvplane.pdf
test_pvfit_vcut.pdf
test_pvfit_xcut.pdf
__pycache__/utils.cpython-38.pyc
pvfit/__pycache__/__init__.cpython-38.pyc
pvfit/__pycache__/_pvfit.cpython-38.pyc
pvfit/__pycache__/analysis_tools.cpython-38.pyc
pvfit/__pycache__/fitfuncs.cpython-38.pyc
test.linear.png
test.log.png
testfit.corner_e.png
testfit.corner_r.png
.DS_Store
__pycache__/utils.cpython-39.pyc
pvanalysis/__pycache__/__init__.cpython-39.pyc
pvanalysis/__pycache__/analysis_tools.cpython-39.pyc
pvanalysis/__pycache__/fitfuncs.cpython-39.pyc
pvanalysis/__pycache__/pvfits.cpython-39.pyc
.gitignore
