test_pvfit_pvdiagram.pdf
test_pvfit_rvplane.pdf
test_pvfit_vcut.pdf
test_pvfit_xcut.pdf
__pycache__/utils.cpython-38.pyc
test.linear.png
test.log.png
testfit.corner_e.png
testfit.corner_r.png
.DS_Store
__pycache__/utils.cpython-39.pyc
pvanalysis/__pycache__/__init__.cpython-39.pyc
pvanalysis/__pycache__/analysis_tools.cpython-39.pyc
pvanalysis/__pycache__/fitfuncs.cpython-39.pyc
pvanalysis/__pycache__/pvfits.cpython-39.pyc
__pycache__/utils.cpython-310.pyc
channelfit/__pycache__/__init__.cpython-310.pyc
channelfit/__pycache__/_channelfit.cpython-310.pyc
pvsilhouette/__pycache__/_pvsilhouette.cpython-310.pyc
pvsilhouette/__pycache__/__init__.cpython-310.pyc
pvsilhouette/__pycache__/ulrichenvelope.cpython-310.pyc
twodgrad/IRAS16253_SBLB_C18O_robust_2.0.imsub.majmin.png
twodgrad/IRAS16253_SBLB_C18O_robust_2.0.imsub.majvel.png
.gitignore
